.wg-game-window{
  margin: 0 auto;
  min-height: 500px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.5%;
}

.wg-game-window-invisible{
  height: 0;
  width: 0;
}

.wg-mw-body{
  margin-left: 0!important;
}

.wg-winning-screen-bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.8);
}

.wg-winning-screen{
  position: relative;
  width: 80%;
  margin: 20vw 10%;
  background-color: #ffffff;
  opacity: 1;
  padding: 20px;
}
