<div class="col-md-12 wg-game-window wg-game-window-wikicss">
  <div class="wg-game-window-invisible" id="newArticleName" title="" (click)="getNewWikipediaArticle()"></div>
  <div class="mw-body wg-mw-body">
    <h1 class="firstHeading">{{ heading }}</h1>
    <div [innerHTML]="html"></div>
  </div>
</div>
<div class="wg-winning-screen-bg" *ngIf="showWinningScreen">
  <div class="wg-winning-screen">
    <h3>Success!</h3>
    <button class="btn btn-default" (click)="closeGame()">Close</button>
  </div>
</div>
