.wg-game-window{
  margin: 0 auto;
  min-height: 500px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.5%;
}

.wg-game-window-invisible{
  height: 0;
  width: 0;
}

.wg-mw-body{
  margin-left: 0!important;
}
